{% extends "bootstrap/base.html" %}
{% block title %}
PLAY2LEARN
{% endblock %}
{% block content %}
<center>
	<h1>WELCOME BOSS</h1>
</center>

<style type="text/css">
	.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


</style>

<div class="card bg-success text-white" style="width: 25rem;
  height: 15rem;
  position:absolute;
  top:50%;
  left:50%;
  padding:10px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
 ">	
	<div class="card-body" style=" position:absolute;
  top:50%;
  left:50%;
  padding:10px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);">
<center>
	
	

	<form method="link" action="{{ url_for('register') }}" >
	<p><button type="submit" class="btn btn-danger btn-lg">
	<span class="glyphicon glyphicon-pencil"></span>
	Register New User
	</button></p>
	</form>

	<form method="link" action="{{ url_for('login') }}" >
	<p><button type="submit" class="btn btn-info btn-df">
	<span class="glyphicon glyphicon-menu-left"></span>
	Back
	</button></p>
	</form>

</center>
</div>
</div>
{% endblock %}